apiVersion: v1
kind: Pod
metadata:
  name: dns-controller
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: dns-controller
    image: justinsb/dns-controller:1.3
    command:
    - /usr/bin/dns-controller
{{ if eq .CloudProvider "gce" }}
    - --dns=google-clouddns
{{ else }}
    - --dns=aws-route53
{{ end }}
    - -v=8
